<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>Share.log</file>
        <encoder>
            <pattern>%date %level [%X{IP}] [%thread] [%F:%L] - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>